:root {
  --main: #dd00ff;
  --secondary: #ac58b9;
  --gray1: #cacaca;

  --white: #fff;
  --black: #000;
}

@font-face {
  font-family: "Roboto Mono";
  font-display: optional;
  src: url("/font/RobotoMono-Thin.ttf");
}

html,
body,
#__next {
  display: flex;
  height: 100%;
  width: 100%;
}

p,
a,
li,
h1,
h2,
h3,
h4 {
  font-family: "Roboto Mono", monospace;
}

a:link {
  color: var(--main);
}

a:visited {
  color: var(--secondary);
}
