:root {
  --main: #ec70ff;
  --secondary: #b26dbd;
  --gray1: #cacaca;

  --white: #fff;
  --black: #000;
}

html,
body,
#__next {
  display: flex;
  height: 100%;
  width: 100%;
}

p,
a,
li,
h1,
h2,
h3,
h4 {
  font-family: "Roboto Mono";
}

a:link {
  color: var(--main);
}

a:visited {
  color: var(--secondary);
}
